/* page margin: 10mm, 20mm, 10mm, 20mm
   page setting: pamphlet
   and using regex to replace 
   (<img.*?svg" alt=")(.)(" />) with $2
   to remove all images have characters */

body {
    line-height: 160%;
    text-align: justify;
    font-family: TW-Kai, TW-Kai-Ext-B, TW-Kai-Plus, HanaMinA, HanaMinB;
    font-size: 18px;
}
  
h1, h2, h3, h4, h5 {
    font-size: 1.2em;
    font-weight: bold;
}

p {
    font-size: 1.2em;
}

img { /* for extb character */
    width: 1.2em;
    height: 1.2em;
    vertical-align: text-bottom;
}
    
sub { /* for note character */
    font-size: 0.8em;
    font-weight: normal;
    vertical-align: middle;
    font-family: PMingLiU, PMingLiU-ExtB, HanaMinA, HanaMinB;
    margin-left: 0.2em;
}

em { /* for note for notes character */
    font-size: 0.8em;
    color: gray;
    font-style: normal;
}

code { /* for pronounce character */
    font-size: 0.5em;
    font-family: PMingLiU, PMingLiU-ExtB, HanaMinA, HanaMinB;
    color: gray;
    font-weight: normal;
}

del { /* redundant character */
    display: none;
}

strong { 
    color: gray;
    font-weight: normal;
}

blockquote {
    font-size: 1em;
    margin: auto 0rem auto 2em;
    font-weight: normal;
}

a.footnote-ref {
    font-size: 0.6em;
    font-family: PMingLiU;
    font-weight: normal;
    text-decoration: none;
}

ol li p {
    font-size: 0.8em;
    color: gray;
    font-weight: normal;
    font-family: PMingLiU, PMingLiU-ExtB, HanaMinA, HanaMinB;
}

hr {
    border: 0.75px dotted #505050;
}
