body {
    line-height: 125%;
    font-size: 16px;
}
  
h1, h2, h3, h4, h5 {
    font-size: 1em;
}

p {
    font-weight: bold;
}

p img {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
}
    
sub {
    font-size: 0.8em;
    color: #505050;
    font-weight: normal;
    vertical-align: middle;
}

sub img {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

blockquote {
    font-size: 0.8em;
    color: #505050;
    margin: auto 0rem auto 1rem;
    font-weight: normal;
}

a.footnote-ref {
    vertical-align: super;
    font-size: 0.8em;
    font-weight: normal;
    text-decoration: none;
}

ol li p {
    font-size: 0.8em;
    color: #505050;
    font-weight: normal;
}

ol li p img{
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

s, del {
    color: gray;
}

hr {
    border: 1px dotted gray;
}